* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

body {
	font-family: 'Livvic', sans-serif;
}
@font-face {
	font-family: 'Livvic';
	src: url('fonts/Livvic-Regular.woff2') format('woff2'), url('fonts/Livvic-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Livvic';
	src: url('fonts/Livvic-Bold.woff2') format('woff2'), url('fonts/Livvic-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.container {
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.site-top {
	background-color: #014e56;
	padding-bottom: 250px;
	padding-top: 73px;
}

.site-header {
	margin-bottom: 129px;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header__info {
	max-width: 380px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 80.05px;
}

.site-header__list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.site-header__link {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
}

.site-header__btn {
	padding: 9px 33px 11px 32px;
	border: 2px solid #fff;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	border-radius: 24px;
	background-color: #014e56;
}

.hero {
	position: relative;
}

.hero__container {
	display: flex;
	align-items: center;
	gap: 30px;
	position: relative;
}

.hero__title {
	font-weight: 700;
	font-size: 100px;
	line-height: 100px;
	color: #fff;
	max-width: 635px;
	width: 100%;
}

.hero__title span {
	color: #f67e7e;
}

.hero__info {
	max-width: 445px;
	width: 100%;
}

.hero__info-line {
	width: 50px;
	height: 4px;
	background-color: #79c8c7;
	margin-bottom: 79px;
}

.hero-info__text {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	margin-top: auto;
}

.hero-img-absolute {
	position: absolute;
	top: 0;
	left: 0;
}

.hero-img-absolute2 {
	position: absolute;
	top: 350px;
	right: 0;
}

.site-header__menu {
	display: none;
}

.build {
	background-color: #012f34;
	padding: 140px 0;
	position: relative;
}

.build__img {
	position: absolute;
	bottom: 0;
	right: 0;
}

.build__container {
	display: flex;
}

.build__info {
	max-width: 445px;
	width: 100%;
	margin-right: 125px;
}

.build__info-line {
	width: 50px;
	height: 4px;
	background-color: #f67e7e;
	margin-bottom: 54px;
}

.build__info-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	color: #fff;
}

.build__list {
	max-width: 540px;
	width: 100%;
	margin-top: 54px;
}

.build__item {
	max-width: 100%;
	display: flex;
}

.build__item:not(:last-child) {
	margin-bottom: 32px;
}

.build__item-info {
	max-width: 445px;
	width: 100%;
}

.build__item-inner {
	max-width: 72px;
	max-height: 72px;
	width: 100%;
	margin-right: 23px;
	position: relative;
}

.build__item-inner img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 56px;
	height: 56px;
}

.build__item-circle {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-color: #2c6269;
	position: absolute;
	right: 0;
	bottom: 0;
}

.build__item-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	color: #f67e7e;
	margin-bottom: 16px;
}

.build__item-text {
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	color: #ccd5d6;
}

.succes {
	padding: 140px 0;
	background-color: #004047;
	position: relative;
}

.succes__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	margin-bottom: 56px;
}

.succes__title span {
	color: #79c8c7;
}

.succes__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.succes__item {
	max-width: 350px;
	width: 100%;
	position: relative;
}

.succes__item-text {
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	margin-bottom: 24px;
	color: #fff;
	margin-top: 36px;
	z-index: 9999999999;
	position: relative;
}

.succes__item-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #79c8c7;
	margin-bottom: 2px;
}

.succes__item-text2 {
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-style: italic;
	margin-bottom: 32px;
	color: #fff;
}

.succes__item-img1 {
	position: absolute;
	top: 0;
	right: 141px;
	z-index: 1;
}

.succes__item-wrapper {
	max-width: 62px;
	width: 100%;
	margin: 0 auto;
}

.ready {
	padding: 76px 0;
	background-color: #f67e7e;
	position: relative;
}

.ready__img {
	position: absolute;
	left: 0;
	bottom: 0;
}

.ready__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 917px;
	width: 100%;
	margin: 0 auto;
}

.ready__info-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	color: #012f34;
}

.ready__info-btn {
	padding: 9px 33px 11px 32px;
	background-color: transparent;
	border: 2px solid #012f34;
	border-radius: 24px;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
}

.site-footer {
	padding: 48px 0;
	background-color: #002529;
}

.site-footer__inner {
	max-width: 1110px;
	width: 100%;
	display: flex;
}

.site-footer__home {
	max-width: 159px;
	width: 100%;
	margin-right: 125px;
	margin-top: 25px;
}

.site-footer__link {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
}

.site-footer__link:not(:last-child) {
	margin-right: 40px;
}

.site-footer__links {
	max-width: 167px;
	width: 100%;
	margin-right: auto;
}

.site-footer__link1 {
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	color: #99a8a9;
}

.site-footer__social {
	max-width: 255px;
	width: 100%;
}

.site-footer__list {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 51px;
	margin-left: 151px;
}

.site-footer__item svg path {
	transition: fill 0.4s ease;
	fill: white;
}

.site-footer__item:hover svg path {
	fill: #f67e7e;
}

.site-footer__bottom-link {
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	text-align: right;
	color: #99a8a9;
}

@media (max-width: 1080px) {
	.hero__container {
		display: flex;
		align-items: center;
		gap: 25px;
		position: relative;
	}

	.hero__title {
		font-size: 85px;
	}

	.hero__info {
		max-width: 430px;
	}

	.hero__info-line {
		display: none;
	}

	.hero-img-absolute {
		position: absolute;
		top: 0;
		left: 0;
	}

	.hero-img-absolute2 {
		position: absolute;
		top: 350px;
		right: 0;
	}
}

@media (max-width: 768px) {
	.site-header {
		margin-bottom: 112px;
	}

	.site-header__info {
		max-width: 316px;
		gap: 48px;
	}

	.hero {
		position: relative;
	}

	.hero-container {
		position: static;
		display: flex;
		gap: 0;
		flex-direction: column;
		text-align: center;
	}

	.hero__title {
		font-size: 64px;
		max-width: 350px;
		line-height: 56px;
		width: 100%;
		margin-bottom: 24px;
	}

	.hero-info__text {
		font-size: 15px;
		max-width: 457px;
		width: 100%;
		line-height: 28px;
	}

	.hero-img-absolute {
		display: none;
	}

	.hero-img-absolute2 {
		position: absolute;
		right: 204px;
		top: 370px;
	}
}

@media (max-width: 560px) {
	.site-header {
		margin-bottom: 100px;
	}

	.site-header__info {
		max-width: 290px;
		gap: 20px;
	}
}

@media (max-width: 521px) {
	.site-header {
		margin-bottom: 80px;
	}

	.site-header__info {
		max-width: 327px;
	}
	.site-header__menu {
		display: block;
		background-color: transparent;
	}

	.site-header__menu img {
		background-color: transparent;
	}
	.site-header__list {
		display: none;
	}

	.site-header__link {
		display: none;
	}

	.site-header__btn {
		display: none;
	}
}

@media (max-width: 375px) {
	.hero {
		position: relative;
	}

	.hero-container {
		position: static;
		display: flex;
		gap: 0;
		position: static;
		flex-direction: column;
		text-align: center;
	}

	.hero__title {
		font-size: 64px;
		max-width: 350px;
		line-height: 56px;
		width: 100%;
		margin-bottom: 24px;
	}

	.hero-info__text {
		font-size: 15px;
		max-width: 457px;
		width: 100%;
		line-height: 28px;
	}

	.hero-img-absolute {
		display: none;
	}

	.hero-img-absolute2 {
		position: absolute;
		right: 204px;
		top: 370px;
	}
}
